@media screen, print {
  .custom-metadata-multi-input-tags {
    padding-left: 20px; }
  .custom-metadata-table span:last-child {
    width: 100%; }
  .custom-metadata-table select {
    margin-bottom: 2px; }
  .custom-metadata-tableWidth {
    width: 240px;
    display: inline-flex;
    word-wrap: break-word; }
  .custom-metadata-table {
    display: table;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
    width: 99%;
    box-shadow: 0px 0px 7px;
    margin-bottom: 10px; }
  .custom-metadata-table > div {
    display: table-row; }
  .custom-metadata-table div:nth-child(odd) {
    background-color: #EEE; }
  .custom-metadata-table div:nth-child(even) {
    background-color: #FFF; }
  .custom-metadata-table span:first-child:not(.tagButton) {
    font-weight: bold;
    padding-right: 10px;
    display: inline-block; }
  .custom-metadata-table span:last-child {
    width: 100%; }
  .custom-metadata-table select {
    margin-bottom: 2px; }
  .custom-metadata-input-width {
    width: 400px; }
  .custom-metadata-textarea-width {
    width: 400px; }
  .custom-metadata-multi-select-width {
    width: 400px;
    height: 100%; }
  .custom-metadata-i-span-spacing {
    display: initial;
    padding-left: 5px; }
  .tooltip-inner th, .tooltip-inner td {
    border: 1px solid white; } }
