.LoadingContainer {
  position: relative;
  min-height: 10em;
  height: 100%; }
  .LoadingContainer .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 8em;
    background: rgba(255, 255, 255, 0.7); }
    .LoadingContainer .loading .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .LoadingContainer .loading i {
      animation: spin infinite 3s linear; }
  .LoadingContainer .fade-appear {
    opacity: 0.1; }
    .LoadingContainer .fade-appear.fade-appear-active {
      opacity: .3;
      transition: all 500ms linear; }
  .LoadingContainer .fade-leave {
    opacity: .3; }
    .LoadingContainer .fade-leave.fade-enter-leave {
      opacity: 0.1;
      transition: all 300ms linear; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
