# General
*.DS_Store
.AppleDouble
.LSOverride

# Vim Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

#node_modules
node_modules

#npm
package-lock.json

#compiled scot.js
#scot.js
scot-debug.js
.idea/
scot-ui/build/static/js/
scot-ui/build/
.vscode/
