*.pl linguist-detectable=true
*.js linguist-detectable=true
*.html linguist-detectable=false
*.htm inguist-detectable=false
public/libs/* linguist-vendored
scot-ui/public/libs/ linguist-vendored
docs/* linguist-documentation
