// Styles for Dashboard Status component

.Status {
	display: inline-grid;
	justify-content: center;
	align-content: center;
	grid-gap: 10px;

	grid-auto-columns: minmax(auto, 200px);
	
	&.cols-2 {
		grid-template-columns: 1fr 1fr;
	}

	.service {
		justify-self: center;
		align-self: center;

		width: 80%;
		padding: 5px;
		border-radius: 8px;
		border: 1px solid black;
		text-align: center;

		&.status-ok {
			background: #78c445;
		}

		&.status-error {
			background: #f7788a;
		}

		&.status-warn {
			background: #e5b932;
		}

		&.status-unknown {
			background: #999999;
		}
	}
}
