// Styles for Main Component

.homePageDisplay {
	.home-grid {
		display: grid;
		height: 100%;
		padding: 10px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: minmax(200px, 1fr) 40px 1fr 1fr;
		grid-gap: 15px;
		
		grid-template-areas:
			"status title game"
			"activity activity activity"
			"chart chart notifications"
			"chart chart notifications";

		&.loggedOut {
			grid-template-areas:
				"title title title"
				"title title title"
				"title title title"
				"title title title";
		}

		.title-area {
			display: inline-grid;
			grid-area: title;

			background: url('/images/scot-600h.png') no-repeat center;
			background-size: contain;

			text-align: center;
			text-shadow: 1px 2px 10px rgba( 0, 0, 0, 0.5 );

			h1, h3 {
				justify-self: center;
				align-self: end;
			}

			.sensitivity {
				justify-self: center;
				align-self: start;
				margin: 0;
			}
		}

		.status-area {
			grid-area: status;
			overflow: hidden;
		}

		.game-area {
			grid-area: game;
			overflow: hidden;
		}

		.activity-area {
			grid-area: activity;
			margin-bottom: 0;
		}

		.charts-area {
			grid-area: chart;
		}
	}
}
