// Styles for Main Component

.homePageDisplay {
	.home-grid {
		display: grid;
		height: 100%;
		padding: 10px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: minmax(200px, 1fr) 40px 1fr 1fr;
		grid-gap: 15px;
		
		grid-template-areas:
			"status title game"
			"activity activity activity"
			"chart chart notifications"
			"chart chart notifications";

		&.loggedOut {
			grid-template-areas:
				"title title title"
				"title title title"
				"title title title"
				"title title title";
		}

		.title {
			display: inline-grid;
			grid-area: title;

			background: url('/images/scot-600h.png') no-repeat center;
			background-size: contain;

			text-align: center;

			h1, h3 {
				justify-self: center;
				align-self: end;
			}
		}

		.status {
			grid-area: status;
			overflow: hidden;
		}

		.game {
			grid-area: game;
			overflow: hidden;
		}

		.activity {
			grid-area: activity;
			margin-bottom: 0;
		}

		.charts {
			grid-area: chart;
		}
	}
}
