// Styles for ThingList Widget

.ThingList {
	.list-group {
		text-align: left;

		.list-group-item {
			padding-right: 40px;

			.label {
				margin-left: 15px;
				opacity: 0.7;
			}

			i {
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -15px;
				font-size: 28px;
				opacity: 0.7;
			}
		}
	}
}

