// Styles for Elastic Search Component

.esearch {
	float: right;

}

.esearch-query {
	font-family: Helvetica, 'FontAwesome', sans-serif;
	//background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 85px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s;
	transition: all .5s ease-out;
	right:0;
}

.esearch-query:focus{
	font-family: Helvetica, 'FontAwesome', sans-serif;
	width: 300px;
	background-color: #fff;
	border-color: #66CC75;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
