
.ReactTable {
	flex: 1;
	max-height: 100%;
	transition: all .3s ease;

	.rt-thead {
		// Hack to force header to line up with columns on desktop
		// Should be removed after react-table fixes issue
		//overflow-y: scroll;
	    padding-right: 15px !important;
        // attempt to lock the headers
        //position: fixed;
    }

	.rt-tbody {
		// Setting position so that tbody becomes offset parent for the rows
		// This is required for scrolling to selected rows
		position: relative;
	}
    

	.rt-td {
    overflow: auto;
		white-space: normal !important;
		display: grid;
		align-items: center;
	    font-size: 12px;
        line-height: 13px;
    }

	.-loading.-active {
		//background: none;
        pointer-events: none !important;
        opacity: .4 !important;

		div {
			transform: none;
			top: 0;
		}
	}
    
	.rt-tr-group {
		flex: 0 0 auto;
		cursor: pointer;

		.rt-tr.selected {
			background: rgb( 174, 218, 255 ) !important;
		}
	}
    
    .pagination-bottom {
        .-pagination {
            height: 30px;
            padding: 0px;

            .-btn {
                padding: 0px;
            }   
        }
    }
    
	.alertStatusCell {
		text-align: center;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
        padding: 1px 5px;

		&.promoted {
			box-sizing: border-box;
			background: none;
			border-width: 4px;
			border-style: solid;
			border-radius: 4px;
			color: black;
		}

		&.open {
			border-radius: 10px;
		}
	}
			
}

.ReactTable input, .ReactTable select {
    padding: 2px 0px 2px 0px !important;
}

.ReactTable .select-wrap select {
    padding: 0px 15px 0px 7px !important;
}
