/*Tags/Sources CSS */
span > div.ReactTags__tags {
    position: relative;
    width: 100px;
    height: 31px;
    overflow-x: visible;
}

span > div.ReactTags__selected {
    float: left;
}

/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
    width: 200px;
   /* height: 80px;*/
    overflow-x: auto;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
    height: 31px;
}
div.ReactTags__tagInput input, 
div.ReactTags__tagInput input:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 200px;
    border: 1px solid #eee; 
}

/* Styles for selected tags */
div.ReactTags__selected {
    float: left;
}
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
    width: 200px;
    overflow: auto;
    z-index: 99;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: black;
    width: 200px;
    color: white;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
    color:white;
    background:black;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
    color:white;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}
