@media screen {

    /* for entity popup */
    .tab-content {
        height: 100%;
        display: flex;
        flex-flow: column;
        min-height: 1px;
    }
    /**/

    /* Entry header export to csv button */
    .second-menu img {
        height:15px;
    }
    /**/

    .flair_header {
        position:relative;
        word-wrap: break-word;
    }

    .alertgroup_open {
        border-radius: 10px !important;
        line-height: 12pt;
        padding-top:5px;
        padding-left:2px;
    }

    .alertgroup_closed {
        border-radius: 0px !important;
        line-height: 12pt;
        padding-top:5px;
        padding-left:2px;
    }

    .alertgroup_promoted {
        border-radius: 5px !important;
        border-color: orange !important;
        border-width: thick !important;
        line-height: 12pt;
        padding-top:5px;
        padding-left:2px;
    }

    .alertgroup {
        font-size:10pt;
    }

    span.tag-new {
        position: relative;
        display: inline-flex;
        vertical-align: middle;
    }

    input[type=text]:not(.form-control), input[type=number]:not(.form-control), input[role=combobox]:not(.form-control, .report_input) {
        background-color:#292929;
        border-color: #292929;
        border-style: solid;
    }

    .list-filtered input[type=text], .list-filtered input[type=text]:focus {
        background-color:white;
        border-color: #cccccc;
        border-style: solid;
        color: black;
    }
    .ReactTags__tagInputField  {
      /* background-color: #292929;
      border-color: #292929; */
      border-style: solid;
      margin-top: 5px;
      color: 'black';
  }
    .detail-header-input {
        background-color: #292929;
        border-color: #292929;
        border-style: solid;
        margin-top: 5px;
    }
    
    .anchor {
        display: block; 
        visibility: hidden;
    }

    .alert-wrapper {
        overflow:auto;
        display:block;
        padding-left:5px;
        padding-right: 5px;
    }

    .main-header-info-null {
        color:#ECECEC;
        background-color:#292929;
        padding-right: 5px;
        padding-left: 5px;
        box-shadow: 0px 5px 5px -5px #333;
        display: flex;
        flex-flow: row;
    }

    .main-header-info-child {
        flex-grow: 1;
    }

    .entry-header-info-null {
        color:#ECECEC;
        background-color: #292929;
        padding-right: 5px;
        padding-bottom: 2px;
        width: 100%;
        box-shadow: 0px 5px 5px -5px #333;
    }

    .entry-container {
        height: 100%;
        display:initial;
    }

    .entry-wrapper-main {
        width: 100%;
        //height: 90vh;
        position: relative;
        overflow:auto;
    }

    .entry-wrapper-main-300 {
        width: 99vw;
        max-height: 300px;
        position: relative;
        overflow:auto;
    }

    .entry-wrapper-main-nh {
        width: 99vw;
        position: relative;
        //overflow: auto;
    }

    .entry-wrapper {  
        background-color:#FFFFFF;
        border-radius: 5px;
        border: 1px solid #999999;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }

    .entry-outer {
    background-color:white;
    border-radius: 5px;
    border: 1px solid #999999;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    margin-bottom:10px;
    }

    .entry-header {
        background-color: #DDD;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
        border-radius: 5px 5px 0px 0px;
        display: flow-root;
    }

    .entry-header-inner, .entry-body-inner {
    padding:(5px /4) 5px 0px (5px );
    }

    .entry-header-inner {
    height:25px;
    }

    .entry-body-inner {
    overflow:auto; 
    padding-top:0px;
    padding-left:10px;
    }

    .entry-body {
    padding-bottom:2px;
    padding-top:2px;
    border-radius: 0px 0px 5px 5px
    }

    .details-table td,th {
    padding-left:5px;
    padding-right:20px;
    text-align:left;
    vertical-align: middle;
    }

    .details-table th {
    //font-size:12pt;
    outline: 0px solid transparent;
    }

    .details-subject {
    font-size:x-large;
    }

    .todo_open {
    background-color:#993333;
    color: white;
    }

    .todo_assigned {
    background-color: #B8B800
    }

    .todo_completed {
    background-color: #669966;
    color: white;
    }

    .todo_open_outer {
    border: 2px solid #993333;
    }

    .todo_assigned_outer {
    border: 2px solid #B8B800;
    }

    .todo_completed_outer {
    border: 2px solid #669966;
    }

    .event_entry_container_alert {
        max-height: 500px;
        overflow: auto;
    }

    .toolbar {
        position:relative;
        padding-top:5px;
        margin-bottom:5px;
        border-top:1px solid white;
    }
    .toolbar  select {
        margin-bottom:0px;
    }

    .entity {
        background-color: rgba(255, 245, 168, 0.5);
        border: 1px dotted green;
        border-radius: 6px 6px 6px 6px;
        cursor: pointer;
        padding: 1px;
    }

    .popover {
        width: auto;
        font-size:10pt;
    }

    .search_result_row {
        display: inline-flex;
    }

    .search_highlight {
    background-color: yellow;
    font-weight: bolder;
    }

    .search-heading {
        margin: 0px;
    }

    .search_snippet_container {
        display: flex;
        //flex-flow: column;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-bottom: 0px !important;
    }

    .search_snippet_header {
        font-weight: bolder;
        text-decoration: underline;
        //font-size: 12pt;
        //border-top: 1px solid #e0e0e0;
        padding-right: 10px;
    }

    .circleNumber {
        background: lightblue;
        border: 1px solid black;
        border-radius: 5em 5em 5em 5em;
        -moz-border-radius: 5em 5em 5em 5em;
        -webkit-border-radius: 5em 5em 5em 5em;
        margin:1px;
        margin-left:3px;
        padding:1px;
    }

    /* Not sure if needed
    .refs td {
    max-height:100px;
    display:block;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right:20px;
    vertical-align:top;
    }
    */

    .close_toolbar {
    position:absolute;
    right:10px;
    cursor:pointer;
    top:5px; 
    width:20px;
    }

    /* Not sure if needed
    .alert_text tr {
    max-height:300px;
    overflow: auto;
    display: block;
    }

    .alertTable {
    display: table;
    padding:3px;
    border-radius:5px;
    border:1px solid black;
    width:99%;
    box-shadow:0px 0px 7px;
    margin-bottom:10px;
    }

    .alertTable > div {
    display: table-row;
    border-bottom: 1px solid #333;
    }

    .alertTable div:nth-child(odd) {
    background-color: #EEE;
    }

    .alertTable div:nth-child(even) {
    background-color: #FFF;
    }

    .alertTable  > div > span:first-child {
    font-weight: bold;
    padding-right:10px;
    display: table-cell;
    }

    .alertTable span:last-child {
    width:100%;
    }
    */

    .alertTableHorizontal {
    /*display: table;
    padding: 3px;
    border-radius: 5px;
    /*border: 1px solid black;*/
    /*width:99.5%;
    margin-bottom:10px;*/
    overflow: scroll;
    }

    /* .alertTableHorizontal > div {
    display: table-row;
    border-bottom: 1px solid #333;
    }

    .alertTableHorizontal > div:first-child  {
    font-weight:bold;
    }

    .alertTableHorizontal tr:nth-child(odd) {
        background-color: #EEE;
    }

    .alertTableHorizontal tr:nth-child(even) {
        background-color: #FFF;
    }

    .alertTableHorizontal tr:not(.not_selectable) {
        border-bottom-width:1px;
        border-bottom-style:solid;
        border-bottom-color:black;
    }

    .alertTableHorizontal th:nth-child(even) {
    background-color: rgba(0,0,0,0.05) !important;
    }

    .alertTableHorizontal th:nth-child(odd) {
    background-color: rgba(0,0,0,0.1) !important;
    }

    .alertTableHorizontal th {
    box-shadow: 0px -10px 5px -10px  black inset;
    }

    .alertTableHorizontal td:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
    }

    .alertTableHorizontal span:last-child {
    }

    .alertTableHorizontal span {
    /*  display: table-cell; */
    //  padding-left:5px; 
    //  padding-right:5px; 
    } */

    .entityTableHorizontal {
    display: table;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
    width:99.5%;
    margin-bottom:10px;
    }

    .entityTableHorizontal > div {
    display: table-row;
    border-bottom: 1px solid #333;
    }

    .entityTableHorizontal > div:first-child  {
    font-weight:bold;
    }

    .entityTableHorizontal tr:nth-child(odd) {
        background-color: #EEE;
    }

    .entityTableHorizontal tr:nth-child(even) {
        background-color: #FFF;
    }

    .entityTableHorizontal th:nth-child(even) {
    background-color: rgba(0,0,0,0.05) !important;
    }

    .entityTableHorizontal th:nth-child(odd) {
    background-color: rgba(0,0,0,0.1) !important;
    }

    .entityTableHorizontal th {
    box-shadow: 0px -10px 5px -10px  black inset;
    }

    .entityTableHorizontal span:last-child {
    }

    .entityTableWrapper {
        //overflow-y: auto;
        //display: inline-block;
        //max-height: 40vh;
    }

    .entry-wrapper-entity {
        overflow: auto;
        //max-height:30vh;
    }

    .entity-full-screen {
        background-color:#AEC0D0; 
        display: flex;
        flex-flow: row;
    }

    .entityPopUpMaxSizeDefault {
        max-height: 500px;
    }

    .entityPopUp {
        position:fixed;
        z-index:100;
        background-color:#AEC0D0; 
        border:1px solid black;    
        display:flex;
        flex-flow:column;
        //top:0px;
        bottom:5px;
        left:0px;
        //right:0px;
    }

    .entityPopUpButtons {
        padding-top:5px;
    }

    //Entity Popup Nav Bar Smaller
    .nav-tabs>li>a {
        padding-top:4px !important;
        padding-bottom:4px !important;
    }

    .nav-pills>li>a {
        padding-top:4px !important;
        padding-bottom:4px !important;
    }
    //End Entity Popup Nav Bar Smaller

    .incidentTable span:last-child {
    width:100%;
    }
    .incidentTable select {
    margin-bottom:2px;
    }

    .incidentTableWidth {
        width: 200px;
    }

    .incidentTable {
    display: table;
    padding:3px;
    border-radius:5px;
    border:1px solid black;
    width:99%;
    box-shadow:0px 0px 7px;
    margin-bottom:10px;
    }

    .incidentTable > div {
    display: table-row;
    //  border-bottom: 1px solid #333;
    }

    .incidentTable div:nth-child(odd) {
    background-color: #EEE;
    }

    .incidentTable div:nth-child(even) {
    background-color: #FFF;
    }

    .incidentTable span:first-child {
    font-weight: bold;
    padding-right:10px;
    //width:200px;
    display: inline-block;
    }

    .incidentTable span:last-child {
    width:100%;
    }
    .incidentTable select {
    margin-bottom:2px;
    }

    .qtip td {
    vertical-align: top;
    line-height: normal;
    font-size:11pt;
    }

    .qtip-scot {
        border-color: rgb(100,100,100) !important;
        color: #eee !important;
        background-color: #292929 !important;
        box-shadow: 10px 10px 10px #888888 !important;
        max-width: 500px !important;
        max-height: 500px !important;
        overflow: auto !important;
    }

    .qtip-scot textarea {
    background-color:#515151;
    color: white;
    }

    .qtip-scot th {
    padding-left:3px;
    }


    .qtip-scot a {
    color: white;
    }

    /* not sure if necessary
    .popover-title {
    color: black;
    }
    */

    .blackholed {
    background-color: black;
    color: white;
    }


    .blocked {
    background-color: red;
    color: white;
    }

    .whitelist {
    background-color: white;
    color: black;
    }

    .warn {
    background-color: yellow;
    color: black;
    }

    .updated {
    white-space: nowrap;
    }

    .rt-tr {
    /* overflow-x:hidden; */
    max-height:200px;
    /* overflow-y:auto; */
    font-weight: normal !important;
    /* padding: 3px; */
    /* max-width: 500px; */
    word-wrap: break-word;
    }

    .wait {
    cursor: progress !important;
    }

    .summary_entry {
    background-color: rgb(250,250,210);
    }

    .selected {
    background-color: #B1D0AE !important;
    }



    pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }

    /* tables */
    .tablesorter {
        margin:10px 0pt 15px;
        width: 98% !important;
        text-align: left;
    }
    .tablesorter thead tr .header {
        background-repeat: no-repeat;
        background-position: center left;
        cursor: pointer;
    }
    .tablesorter  th {
    }
    .headerSortUp {
            padding-left:15px;	
        background-image: url('/images/asc.gif') !important;
    }
    .headerSortDown {
            padding-left:15px;
        background-image: url('/images/desc.gif') !important;
    }

    .sources {
    overflow:hidden;
    }

    .alert_data_entry tr:nth-child(odd) th {
    background-color:#DADADA;
    }
    .alert_data_entry tr:nth-child(even) th {
    background-color:#CCCCCC;
    }

    .alert_data_entry {
    border: 1px solid black;
    }

    .alert_data_entry td,th {
    padding: 5px;
    }

    .alert_data_entry tr:nth-child(odd) {
    background-color: #FCFCFC;
    }

    .alert_data_entry tr:nth-child(even) {
    background-color: #EEEEEE;
    }

    .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    }

    .entity:active {
    background-color: red;
    }

    a:active {
    color: red;
    }

    .pointerEventsOff {
        pointer-events: none;
    }

    .list-view-table-header {
        display: table-row-group;
    }

    .ouo-warning { 
        left: 49%;
        position: absolute;
        top: 0px;
        margin: auto;
        z-index: 999999;
        color: #DDD;
        font-size: 8pt;
    }

    .black-border-line {
        border-left: thick solid #101010;
    }

    .not_saved_entry {
        width: 99vw;
        display: table-cell;
        height: 400px;
    }

    .dashboard {
        text-align: center;
    }

    .dashboardStatusParent {
        text-align: center;
        padding-top:50px;
    }

    .dashBoardStatusChild {
        display: flex;
        flex-flow: column;
    }

    .dashboardStatusDetail {
        font-weight: initial;
    }

    .dashboardStatusDetailNotRunning {
        font-weight: bold;
        color: red;
    }

    .dashboardStatusDetailRunning {
        font-weight: bold;
        color: green;
    }

    .mainNavPadding {
        padding-top: 50px;
    }

    .homePageDisplay {
        display: block;
        overflow: auto;
        height: 100vh;
        padding-bottom: 50px;
    }

    .height100percent {
        height: 100%;
    }

    .sourceButton {
        background-color: #fff;
        border-color: #ccc;
        color: #333;
        font-size: 12px;
        padding: 3px 5px;
        font-weight: 400;
        border-radius: 3px;
    }

    .sourceButtonClose {
        cursor: pointer;
        padding-left: 3px;
    }

    .tagButton {
        background-color: #fff;
        border-color: #ccc;
        color: #333;
        font-size: 12px;
        padding: 3px 5px;
        font-weight: 400;
        border-radius: 3px;
        margin-right: 2px;
    }

    .tagButtonClose {
        cursor: pointer;
        padding-left: 3px;
    }
    .permissionButton {
        background-color: #fff;
        border-color: #ccc;
        color: #333;
        font-size: 12px;
        padding: 3px 5px;
        font-weight: 400;
        border-radius: 3px;
    }

    .permissionButtonClose {
        cursor: pointer;
        padding-left: 3px;
    }

    .signature-entry-outer {
    background-color:white;
    border-radius: 5px;
    border: 1px solid #999999;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    margin-bottom:10px;
    }

    .signature-entry-header {
    background-color: #DDD;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
    border-radius: 5px 5px 0px 0px;
    }

    .signature-entry-header-inner, .signature-entry-body-inner {
    padding:(5px /4) 5px 0px (5px );
    }

    .signature-entry-header-inner {
    height: 25px;
    display: inline-table;
    }

    .not_saved_signature_entry {
        width: 100%;
        display: block;
        //height: 400px;
    }

    .cursorEnabled > .ace_scroller {
        cursor: auto;
    }

    .cursorDisabled > .ace_scroller {
        cursor: not-allowed !important;
    }

    .signature_production_color {
        color: #5cb85c;
    }

    .signature_quality_color {
        color: #f0ad4e;
    }
    
    .list-buttons {
        display: inline-flex;
    }
}

/* PRINTING */

@media print {    
    .detail-buttons         { display: none; }
    .list-buttons           { display: none !important; }
    .add-tag-button         { display: none; } 
    .remove-tag-button      { display: none; } 
    .add-source-button      { display: none; } 
    .remove-source-button   { display: none; } 
    .tagButtonClose         { display: none; } 
    .sourceButtonClose      { display: none; } 
    nav                     { display: block !important; }
    .navbar                 {   min-height: 50px !important;
                                border: 1px solid transparent !important;
                            }
    .navbar-fixed-top       {   position: relative !important;
                                right: 0 !important;
                                left: 0 !important;
                                top: 0 !important;
                                border-width: 0 0 1px !important;
                                z-index: 1030 !important;
                                border-radius: 0 !important;
                            }
    .navbar-inverse         {
                                background-color: #DDD !important;
                                border-color: #080808 !important;
                                -webkit-print-color-adjust: exact !important;
                            }

    /*.mainNavPadding         { padding-top: 50px !important }*/

    body {
        margin-top: 0 !important;
    }

    /*entry printing css*/
    
    .entry-header-info-null {
        -webkit-print-color-adjust: exact !important;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
        background-color: #DDD !important;
    }

    .entry-header {
        background-color: #DDD;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
        border-radius: 5px 5px 0px 0px;
    }

    .entry-wrapper-main {
        width: auto;
        height: auto;
        overflow: visible;
        display: block;
    }

    .summary_entry {
        -webkit-print-color-adjust: exact !important;
        background-color: rgb(250,250,210) !important;
    }
    
    .entry-outer {
        background-color:white;
        border-radius: 5px;
        border: 1px solid #999999;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
        margin-bottom:10px;
    }

    .entry-header {
        -webkit-print-color-adjust: exact !important;
        background-color: #DDD !important;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
        border-radius: 5px 5px 0px 0px;
    }    

    .entry-body-inner {
        overflow:auto;
        padding-top:0px;
        padding-left:10px;
    }
    
    .entry-container {
        height: 100%;
        display:initial;
    }

    .entry-header-inner {
        height:25px;
    }

    .detail-container {
        overflow: visible;
    }
     
    .entity {
        -webkit-print-color-adjust: exact !important;
        background-color: rgba(255, 245, 168, 0.5) !important;
        border: 1px dotted green;
        border-radius: 6px 6px 6px 6px;
        cursor: pointer;
        padding: 1px;
    }    
    
    .circleNumber {
        -webkit-print-color-adjust: exact !important;
        background: lightblue !important;
        border: 1px solid black;
        border-radius: 5em 5em 5em 5em;
        -moz-border-radius: 5em 5em 5em 5em;
        -webkit-border-radius: 5em 5em 5em 5em;
        margin:1px;
        margin-left:3px;
        padding:1px;
    }    
    
/* alert printing css */
    .alertTableHorizontal {
        -webkit-print-color-adjust: exact !important;
        display: block;
        padding: 3px;
        border-radius: 5px;
        border: 1px solid black;
        width:99.5%;
        margin-bottom:10px;
    }

    .alertTableHorizontal > div {
        -webkit-print-color-adjust: exact !important;
        display: table-row !important;
        border-bottom: 1px solid #333 !important;
    }

    .alertTableHorizontal > div:first-child  {
        font-weight:bold !important;
    }

    .alertTableHorizontal tr:nth-child(odd) {
        -webkit-print-color-adjust: exact !important;
        background-color: #EEE;
    }

    .alertTableHorizontal tr:nth-child(even) {
        background-color: #FFF;
        -webkit-print-color-adjust: exact !important;
    }

    .alertTableHorizontal tr:not(.not_selectable) {
        border-bottom-width:1px !important;
        border-bottom-style:solid !important;
        border-bottom-color:black !important;
        -webkit-print-color-adjust: exact !important;
    }

    .alertTableHorizontal th:nth-child(even) {
        background-color: rgba(0,0,0,0.05);
        -webkit-print-color-adjust: exact !important;
    }

    .alertTableHorizontal th:nth-child(odd) {
        background-color: rgba(0,0,0,0.1);
        -webkit-print-color-adjust: exact !important;
    }

    .alertTableHorizontal th {
        box-shadow: 0px -10px 5px -10px  black inset !important;
        -webkit-print-color-adjust: exact !important;
    }

    .alertTableHorizontal td:nth-child(odd) {
        background-color: rgba(0,0,0,0.05) !important;
        -webkit-print-color-adjust: exact !important;
    }

    .alertTableHorizontal td {
        display: inline-block;
    }

    .alertTableHorizontal th {
        display: inline-block;
    }

    .tablesorter-filter-row {
        display: inline-block;
    }

    .selected {
        background-color: #B1D0AE !important;
        -webkit-print-color-adjust: exact !important;    
    }

/*signature printing css */
    .signature-entry-outer {
        -webkit-print-color-adjust: exact !important;
        background-color:white !important;
        border-radius: 5px !important;
        border: 1px solid #999999 !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6) !important;
        margin-bottom:10px !important;
    }

    .signature-entry-header {
        -webkit-print-color-adjust: exact !important;
        background-color: #DDD !important;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9) !important;
        border-radius: 5px 5px 0px 0px !important;
    }

    .signature-entry-header-inner, .signature-entry-body-inner {
        padding:(5px /4) 5px 0px (5px ) !important;
    }

    .signature-entry-header-inner {
        height:25px !important;
    }

/* misc printing css */
    .close_toolbar {
        position:absolute;
        right:10px;
        cursor:pointer;
        top:5px;
        width:20px;
    }

    #list-view-container {
        display: none;
    }
}    
