[Unit]
Description=SCOT Enricher Daemon

[Service]
ExecStart=/opt/scot/bin/enricher.pl
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
