[Unit]
Description=SCot Recorded Future Proxy Daemon

[Service]
ExecStart=/opt/scot/bin/rfproxy.pl
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
