[Unit]
Description=SCot EMail Alert passthrough Processing Daemon

[Service]
ExecStart=/opt/scot/bin/email_responder.pl AlertPassthrough
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
