[Unit]
Description=SCot EMail Dispatch passthrough Processing Daemon

[Service]
ExecStart=/opt/scot/bin/email_responder.pl Dispatch
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
