[Unit]
Description=SCot EMail Event Processing Daemon

[Service]
ExecStart=/opt/scot/bin/email_responder.pl Event
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
