[Unit]
Description=SCot Flair Daemon

[Service]
ExecStart=/opt/scot/bin/flairer.pl
Restart=always
RestartSec=10
StandardOutput=/var/log/scot/scot.flair.log
StandardError=/var/log/scot/scot.flair.log

[Install]
WantedBy=multi-user.target
