[Unit]
Description=SCot Reflair Daemon

[Service]
ExecStart=/opt/scot/bin/reflair.pl
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
