%config    = (

    # logfile   => path & filename of where you wish to log file to be written
    
    logfile     => '/var/log/scot/scot.flair.log',

    # entity_enrichers = array of modules used to enrich entity data
    # array is order of application
    # hash element is {
    #   'name'  => {
    #       'type'      => native      | webservice, 
    #       'module'    => module name | url
    #   }
    # }
    # where native implies a perl module to call

    entity_enrichers    => [
        {
            'geoip' => {
                type    => 'native',
                module  => 'Scot::Util::Geoip',
            },
        },
    ],


    # the Scot::Util::Scot module init config
    scot    => {
        # server name of the SCOT server
        servername  => 'localhost',

        # username with sufficient scot perms to create alert(groups)
        username    => 'scot-alerts',

        # the password for that user
        password    => 'changemenow',

        # authentication type: RemoteUser, LDAP, Local
        authtype    => 'RemoteUser',
    },
);
