.TagInput {
  position: relative;
  width: 100%; }
  .TagInput .react-tags {
    display: flex;
    flex-direction: column; }
  .TagInput .react-tags__selected {
    text-align: left;
    white-space: normal;
    order: 1; }
    .TagInput .react-tags__selected .react-tags__selected-tag {
      display: inline-block;
      background: #f1f1f1;
      border: 1px solid #d1d1d1;
      border-radius: 2px;
      padding: 3px; }
      .TagInput .react-tags__selected .react-tags__selected-tag i {
        margin-left: 3px;
        cursor: pointer; }
  .TagInput .react-tags__search {
    display: inline-block;
    width: 100%; }
    .TagInput .react-tags__search input {
      width: 100%; }
  .TagInput .react-tags__suggestions {
    z-index: 1;
    position: absolute;
    left: 0;
    min-width: 100%;
    background: white;
    border: 1px solid black; }
    .TagInput .react-tags__suggestions ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left; }
      .TagInput .react-tags__suggestions ul li {
        padding: 7px 5px;
        border-bottom: 1px solid #ddd; }
        .TagInput .react-tags__suggestions ul li:hover, .TagInput .react-tags__suggestions ul li.is-active {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.1); }
        .TagInput .react-tags__suggestions ul li mark {
          background: none;
          text-decoration: underline; }
