// Master Styles File
// Global Styles

// Global style for adding buttons to bootstrap panel headers
// General Usage: <Link to="" className="panel-button right"><Button></Button></Link>
// NOTE: The parent of your button MUST have position: relative
.panel {
	.panel-button {
		position: absolute;
		margin: -3px;

		&.right {
			right: 0;
		}

		&.left {
			left: 0;
		}
	}
}

// Components (Imports everything in folder)
// WARNING: Cannot rely on import order for overloading
@import "components/App";
@import "components/Body";
@import "components/custom_metadata";
@import "components/dashboard_online";
@import "components/dashboard_status";
@import "components/detail_header_more_options";
@import "components/esearch";
@import "components/gamification";
@import "components/index";
@import "components/links";
@import "components/listview";
@import "components/loading_container";
@import "components/main";
@import "components/mark";
@import "components/new-list-view";
@import "components/signature_table";
@import "components/tag_input";
@import "components/thinglist";
@import "components/widget_picker";
