// Master Styles File
// Global Styles

// Global style for adding buttons to bootstrap panel headers
// General Usage: <Link to="" className="panel-button right"><Button></Button></Link>
// NOTE: The parent of your button MUST have position: relative
.panel {
	.panel-button {
		position: absolute;
		margin: -3px;

		&.right {
			right: 0;
		}

		&.left {
			left: 0;
		}
	}
}

// Components (Imports everything in folder)
// WARNING: Cannot rely on import order for overloading
@import "components/*";
