%environment = (

    version     => '3.5.1',

    servername  => "scottestserver",

    log_config  => {
            attr    => "log",
            class   => 'Scot::Util::LoggerFactory',
            config  => 'logger.cfg',
     },

    # modules to load into Env.pm 
    modules => [
        {   attr    => "mq",
            class   => 'Scot::Util::Messageq',
            config  => 'activemq.cfg',
        },
        {
            attr    => "mongo",
            class   => 'Scot::Util::MongoFactory',
            config  => 'mongo.cfg',
        },
        {
           attr    => "imap",
            class   => 'Scot::Util::Imap',
            config  => 'imap.cfg',
        },
        {
            attr    => "ldap",
            class   => 'Scot::Util::Ldap',
            config  => 'ldap.cfg',
        },
        {
            attr    => "es",
            class   => 'Scot::Util::ESProxy',
            config  => 'es.cfg',
        },
        {
            attr    => "enrichments",
            class   => 'Scot::Util::Enrichments',
            config  => 'enrichments.cfg',
        },
        {
            attr    => 'mongoquerymaker',
            class   => 'Scot::Util::MongoQueryMaker',
            config  => 'mqm.cfg',
        },
    ],

    # paths to search for config files
    module_config_paths => [
        './configs'
    ],

    # specify the authentication type to use in SCOT
    authtype    => 'testing',

    # group mode is either local or ldap and 
    # specifies where you are getting your scot group info
    group_mode  => 'ldap',

    # the username for the default user 
    default_owner   => 'scot-admin',

    # specify the default groups
    default_groups  => {
        read    => [ 'wg-scot-ir', 'wg-scot-researchers' ],
        modify  => [ 'wg-scot-ir', ],
    },

    # you must be in this group to admin stuff
    admin_group => {
        group   => 'wg-scot-admin',
    },

    # default config items for Mojolicious
    mojo_defaults   => {
        # change these!
        secrets => [qw(scot1sfun sc0t1sc00l)],
        # see mojolicious documentation for more details
        default_expiration  => 14400,
    },

    file_store_root => '/opt/scotfiles',

);
