
      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      
 
       }




        /* Fixed header and footer.
        * --------------------------------------- */
        #header, #footer {
                background: #FFF;
                color: #333;
                z-index:9;
                width: 100%;
                display:block;
                position:fixed;
         	}

        #header{
                /* height: 100px; */
                padding: 0 0 0 0;
              /*-webkit-box-shadow: 0px 0px 20px 0px rgba(94,94,94,1);
                -moz-box-shadow: 0px 0px 20px 0px rgba(94,94,94,1);
                box-shadow: 0px 0px 20px 0px rgba(94,94,94,1); */
 }

        #footer{
                height: 25px;
                padding: 5px 0 0 0;
/*              -webkit-box-shadow: 0px 0px 5px 0px rgba(94,94,94,1);
                -moz-box-shadow: 0px 0px 5px 0px rgba(94,94,94,1);
                box-shadow: 0px 0px 5px 0px rgba(94,94,94,1);*/
 }

        #header{
                top:0px;
        }
        #footer{
                bottom:0px;
        }


        /* Bottom menu
        * --------------------------------------- */
        #infoMenu {
                bottom: 80px;
        }
        #infoMenu li a {
                color: #fff;
                z-index: 999;
        }

        .footer {
          margin-left: 15px;
          margin-right:15px;
        }

        .tableCell {
            padding-top:140px;
        }

        .content {
           width:90% !important;
           border-color:#e3e3e3;
        }

        .section {
	   background: -webkit-linear-gradient(#f5f5f5, white) !important; /* For Safari 5.1 to 6.0 */
	   background: -o-linear-gradient(#f5f5f5, white) !important; /* For Opera 11.1 to 12.0 */
	   background: -moz-linear-gradient(#f5f5f5, white) !important; /* For Firefox 3.6 to 15 */
	   background: linear-gradient(#f5f5f5, white) !important; /* Standard syntax (must be last) */
	   -webkit-box-shadow: 0px 0px 10px 0px rgba(94,94,94,1);
	   -moz-box-shadow: 0px 0px 10px 0px rgba(94,94,94,1);
	   box-shadow: 0px 0px 10px 0px rgba(94,94,94,1);
    	   margin:auto;
	   max-width:700px;
	    padding: 20px;
            -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	    border-radius: 7px;
 	}

        .nwell, .hwell {
	    padding:19px;
	    background-color:#f5f5f5;
	    border: 1px solid #e3e3e3;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.85);
	    -moz-box-shadow: inset 0 1 1px 1px rgba(0.0.0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        }
	
	.hwell {
	  width:300px;
	  margin:auto;
	}

        body {
     	   padding-left:0px !important;
           padding-right:0px !important;
        }

        label {
           display: initial;
        }

        input[type="radio"] {
	   margin: -4px 0 0;
        }

	.row td {
	    padding:5px;
	}

	.modal-body {
	  max-height: 1000px;
	}

	.validate {
	   color: red;
	   font-weight:bold;
 	   float: left;
 	}
	.loading {
	  margin-left:5px;
	  width: 15px;
  	 }
	.nav-tabs > .active >a, .nav-tabs >.active > a:hover {
	  border-bottom: 1px solid #f5f5f5 !important;
	}

	.nav-tabs > .active >a, .nav-tabs >.active > a:hover {
	  background-color: #eee !important;
	}
	
	.details {
	  display: none;
	}

	.nice {
	  border: 1px solid gray;
	  border-radius: 5px;
	  padding-left:5px;
	  display: inline-block; 
	  padding:2px; 
	  background-color:#ddd;
	  margin:5px;
	  vertical-align: top;
	}	
	.nice > select, .nice > input {
	  margin:0px;
	}
	.tab-content {
	  overflow: inherit;
	}

	#users_table, #groups_table {
	  text-align: left;
	}
	.select_swap {
	  height: 150px !important;
	  min-width:150px;
	  font-weight:bold;
	  font-family:"Courier New", Courier, monospace;
	}

	.options {
	  display:none;
	  clear:both;
	}

	.options > label, .options > div {
	  float: initial !important;
	  margin-left:150px;
	  margin-bottom:15px;
	}
	.options  label {
	  font-weight:bold;
	}

	.collector_on > label {
	  width: 100px !important;
 	}
	.collector_on > div {
	  margin-left:120px !important;
	}

	.indent {
	  margin-left:40px;
	}

	.row {
	  display:table-row;
	 
	}

	.row span {
	  display:table-cell;
	  padding-left:25px;
 	  padding-right:25px;
	}

	.comming_soon {
 	    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
        }

	.comming_soon h4 {
	    color: white;
  	}

	.sender_btn {
            display:block;
            width: 50px;
            height: 30px;
        }
   .form-horizontal .control-group {
  margin-bottom: 20px;
  *
  zoom: 1;
}


/*old css from Bootstrap 2*/
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *
  display: inline-block;
  *
  padding-left: 20px;
  margin-left: 180px;
  *
  margin-left: 0;
}

.form-horizontal .controls:first-child {
  *padding-left: 180px;
}

.form-horizontal .help-block {
  margin-bottom: 0;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block {
  margin-top: 10px;
}

.form-horizontal .form-actions {
  padding-left: 180px;
}

/* custom css */
.tagButton {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
    padding: 3px 5px;
    font-weight: 400;
    border-radius: 3px;
    margin-right: 2px;
}

.tagButtonClose {
    cursor: pointer;
    padding-left: 3px;
}

.keyActive {
    color: green;
}

.keyNotActive {
    color: red;
}
